services:
  server:
    container_name: vistend-app
    image: g8ld/visten-app
    build:
      context: .
      args:
        NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
    environment:
      NODE_ENV: production
    expose:
      - 3000
    ports:
      - 3000:3000